--- 
 

import '@/styles/globals.css';
import '../styles/index_styling.css'; 
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';


const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body class=" text-white flex flex-col items-center text-center justify">
    <Navbar className ="mt-20"/>
    <slot/>
    <Footer/>
  </body>
</html>