<div class="mt-56 h-auto w-full flex justify-evenly mb-20">

    <div class="mb-12">
       <div class="flex items-center justify-start w-full h-auto mb-3">
        <img src="/assets/aerabyte_logo.png" alt="AeraByte Logo" class="w-14 h-14 mr-2">
        <h1 class="mb-3 text-2xl font-bold pl-2 pt-3">Aerabyte</h1>
       </div>
        <p>AeraByte ist ein IT-Dienstleister für <br>
            maßgeschneiderte Software, <br>
            IT-Sicherheit und Cloud-Lösungen.
        </p>
    </div>

    <div class="flex-col">
        <h1 class="mb-5 text-xl font-semibold pl-2 pt-3">Impressum</h1>
        <ul>
            <li class="mb-5">Allgemeine Geschäftsbedingungen</li>
            <li class="mb-5">Datenschutz</li>
            <li class="mb-5">Cookie-Präferenzen</li>
        </ul>
    </div>

    <div>
        <h1 class="mb-5 text-xl font-semibold pl-2 pt-3">Kontaktieren Sie Uns</h1>
        <ul>
            <li class="mb-5">office@aerabyte.at</li>
            <li class="mb-5">+43 660 35 15 876</li>
            <li class="mb-5">Ebenhochstraße 7, 4600 Wels</li>
        </ul>
    </div> 

</div>
<hr class="w-11/12">
<div class="my-6 flex justify-between items-end w-11/12">
    <p class="mb-0">Copyright © 2025 AeraByte Solutions OG</p>
    <div>
    </div>
</div>

